body {
  margin: 0;
  font-family: Arial;
  background: #0b0b14;
  color: white;
}

/* LOGIN */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #1a102b;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

/* APP LAYOUT */
.app {
  display: grid;
  grid-template-columns: 70px 220px 1fr 200px;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background: #120a1f;
}

/* CHANNELS */
.channels {
  background: #1a102b;
  padding: 10px;
}

.channel {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.channel:hover {
  background: #6c2bd9;
}

/* CHAT */
.chat {
  display: flex;
  flex-direction: column;
  background: #0f0a1a;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background: #1d1233;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
}

.system {
  text-align: center;
  color: #aaa;
}

/* INPUT */
.input-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #120a1f;
}

/* USERS */
.users {
  background: #1a102b;
  padding: 10px;
}

/* GIF */
.gif-panel {
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 350px;
  background: #1a102b;
  overflow-y: auto;
}

/* OWNER */
.owner-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1a102b;
  padding: 20px;
  border-radius: 12px;
}
