body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0b0d12;
  color: #e6e6e6;
}

/* LOGIN */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #141824;
  padding: 30px;
  border-radius: 16px;
  width: 280px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  background: #1d2233;
  color: white;
}

button {
  background: #6c5ce7;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

/* APP */
.app {
  display: flex;
  height: 100vh;
}

.hidden {
  display: none !important;
}

/* SIDEBAR */
.sidebar {
  width: 70px;
  background: #0f121a;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.server-icon {
  width: 40px;
  height: 40px;
  background: #2a2f45;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CHANNELS */
.channels {
  width: 220px;
  background: #111522;
  padding: 15px;
}

.channel {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.channel.active {
  background: #6c5ce7;
}

/* CHAT */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  background: #141a2a;
  padding: 10px;
  margin: 8px 0;
  border-radius: 12px;
}

.system {
  text-align: center;
  color: #888;
  font-size: 12px;
}

/* INPUT */
.input-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #0f121a;
}

/* USERS */
.users {
  width: 180px;
  background: #111522;
  padding: 15px;
}

/* GIF PANEL */
.gif-panel {
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 320px;
  height: 350px;
  background: #141824;
  border-radius: 12px;
}

.gif-results {
  height: 280px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* OWNER PANEL */
.owner-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141824;
  padding: 15px;
  border-radius: 12px;
  width: 300px;
  z-index: 99999;
}
